# Melt

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

## Dataset 1

In [ ]:
pew = pd.read_csv('../data/pew.csv')

In [ ]:
pew.head(3)

In [ ]:
# same as reshape_to in R
pd.melt(pew, id_vars=['religion'])

In [ ]:
# same as the above
pew.melt(id_vars=['religion'])

In [ ]:
pew.melt(id_vars=['religion'], var_name='income', value_name='count')

In [ ]:
pew_melt = pew.melt(id_vars=['religion'], var_name='income', value_name='count')

In [ ]:
pew_melt.head(3)

## Dataset 2

In [ ]:
billboard = pd.read_csv('../data/billboard.csv')

In [ ]:
# same problem
billboard.head(3)

In [ ]:
billboard.columns

In [ ]:
cols_keep = ['year', 'artist', 'track', 'time', 'date.entered']

billboard.melt(id_vars=cols_keep,
               var_name='week',
               value_name='rank')

In [ ]:
billboard.melt(id_vars=cols_keep,
              var_name='week',
              value_name='rank').groupby('artist').mean()

In [ ]:
# reformat using round bracket
(billboard
     .melt(id_vars=cols_keep,
          var_name='week',
          value_name='rank')
     .groupby('artist')
     .mean()
)

## Dataset 3

In [ ]:
ct = pd.read_csv('../data/country_timeseries.csv')

In [ ]:
ct.head(3)

In [ ]:
ct.columns

In [ ]:
cols_keep = ['Date', 'Day']

ct.melt(id_vars=cols_keep,
        var_name='cd_country',
        value_name='count')

In [ ]:
'my_name'.split('_')

In [ ]:
ct_melt = ct.melt(id_vars=cols_keep,
                 var_name='cd_country',
                 value_name='count')

In [ ]:
var_split = ct_melt['cd_country'].str.split('_')

In [ ]:
type(var_split)

In [ ]:
type(var_split.iloc[0])

In [ ]:
# to convert Series to list, use iloc

var_split.iloc[0]

In [ ]:
# for item 0
var_split.iloc[0][0]

In [ ]:
# TODO
# to entire set, use str.get()

var_split.str.get(0)

In [ ]:
status = var_split.str.get(0)

In [ ]:
country = var_split.str.get(1)

In [ ]:
ct_melt['status'] = status
ct_melt['country'] = country

In [ ]:
ct_melt

In [ ]:
# TODO
# look up str.split documentation
# gives dataframe back

var_split_df = ct_melt['cd_country'].str.split('_', expand=True)

In [ ]:
var_split_df

In [ ]:
# TODO

ct_melt[['status2', 'country2']] = var_split_df

In [ ]:
ct_melt.head(3)

## Dataset 4

In [ ]:
weather = pd.read_csv('../data/weather.csv')

In [ ]:
weather.head(3)

In [ ]:
weather.columns

In [ ]:
weather_melt = weather.melt(id_vars=['id', 'year', 'month', 'element'],
                            var_name='day',
                            value_name='temp')

In [ ]:
# TODO
# undo melt, use pivot_table

weather_melt.head(3)

In [ ]:
# to flat out dataframe, use reset_index()
weather_tidy = (weather_melt
                .pivot_table(
                    index=['id', 'year', 'month', 'day'],
                    columns='element',
                    values='temp')
                .reset_index()
)

In [ ]:
weather_tidy.head(3)